# macOS
.DS_Store

# Windows
Thumbs.db

# Editors
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Temporary files
*.tmp
/tmp

# Dependencies
node_modules/
/.pnp
.pnp.js
/package-lock.json

# Next.js
/.next/
/out/
/build

# Testing
/coverage

# Local env files
.env
.env*.local

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts
